# PostgreSQL connection string
# Example local:
# DATABASE_URL=postgresql://username:password@localhost:5432/crypto_copilot
#
# Example Neon:
# DATABASE_URL=postgresql://username:password@ep-xxxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=your_postgresql_connection_string_here

# OpenAI API key
OPENAI_API_KEY=your_openai_api_key_here

# CoinGecko Demo API key
COINGECKO_DEMO_API_KEY=your_coingecko_demo_api_key_here